<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <script src="https://kit.fontawesome.com/d336be3f33.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="application.css" />
  <titile>Bookers</titile>
</head>

<body>
<h2>
  ようこそ<strong>Bookers</strong>へ！
</h2>

<p>
  <strong>Bookers</strong> では様々な書籍に関するあなたの意見や
</p>
<p>印象を共有し交換することができます</p>

<p>
<%= link_to "Start", books_path %>
</p>
</body>
</html>